/* Top Bar Component */
.topbar {
    background-color: #8BCAC7;
    display: flex;
    justify-content: center;
    position: relative;
  }

  a {
    color: white;
    font-family: "Courier New";
    font-size: 200%;
    padding: 20px 20px 20px 20px;
    text-align: center;
    margin: auto;
  }
  
  button {
    position: relative;
    color: black;
    text-align: center;
    vertical-align: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  b {
    color: black;
    display: flex;
    position: relative;
  }
