<!--Need to put top bar and bottom bar here-->
<!-- Bottom Bar 
    Social Media Buttons: https://www.w3schools.com/howto/howto_css_social_media_buttons.asp
  
  -->
  <div class="topbar">
    <a mat-button routerLink="/common">Golden Reminders</a>
  </div>

    <div class="topbar2">
      <button mat-button routerLink="/home">Home</button>
      <button mat-button routerLink="/products">Product</button>
      <button mat-button routerLink="/cart">Cart</button>
    </div>


  <!--
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <a href="https://www.instagram.com/goldenreminders.co/" class="fa fa-instagram"></a>
  -->