body {
    height: 100%;
    background-image: url("../../assets/images/background.jpg");
  }
  
  .bg {
    /* The image used */
    background-image: url("../../assets/images/background.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }



title {
    text-align: left;
    color: white;
}

h1 {
    text-align: center;
    color: white;
}

.container{
    background-image: url(/assets/images/background.jpg);
}

