body {
    height: 100%;
    background-image: url("../../assets/images/background.jpg");
  }
  
  .bg {
    /* The image used */
    background-image: url("../../assets/images/background.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }



title {
    text-align: left;
    color: white;
}

h1 {
    text-align: center;
    color: white;
}

.container{
    background-image: url(/assets/images/background.jpg);
}

/* Top Bar Component */
.topbar {
  background-color: #8BCAC7;
  display: flex;
  justify-content: center;
  position: relative;
}

.topbar2 {
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
}

a {
  color: white;
  font-family: "Courier New";
  font-size: 300%;
  padding: 30px 30px 30px 30px;
}

button {
  height:0%; 
  width:0%; 
  margin: 0px;
  position: relative;
  top: 0%; 
  left: 0%;
  color: black;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #3B5998;
  color: white;
}
