<div style="height: 100vh;">

    <mat-toolbar color="primary">
  
      <a mat-button routerLink="/home">Golden Reminders</a>
  
      <span class="example-spacer"></span>
  
    <!-- Search form -->
    <form class="form-inline md-form mr-auto mb-4">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button mdbBtn size="sm" color="warning" outline="true" rounded="true" class="my-0 waves-light"
        mdbWavesEffect type="submit">Search</button>
    </form>
    </mat-toolbar>
  
    <mat-sidenav-container fxFlexFill class="example-container">
  
      <div fxShow="true" fxHide.lt-md="true">
        <a mat-button routerLink="/home">Home</a>
        <a mat-button routerLink="/products">Product</a>
        <a mat-button routerLink="/cart">Cart</a>
      </div>
  
    </mat-sidenav-container>
  
    <!--<div style="width:300px">
      <img src="assets/img1.jpg">
    </div>-->

    <head>
      <style>
          body {
              background-image: url("assets/images/background.jpg");
          }
      </style>
    </head>

    <body>
      <div flex layout="column" flex layout-padding layout-align="center right">
        <img src="assets/images/pic1.jpeg">
        <div layout="row" layout-align="center">
            <div layout="column" flex="center">
                <h3>Lorem ipsum dolor sit amet!</h3>
                <p>Lorem ipsum dolor sit amet....</p>
            </div>
        </div>
        <div layout="row" layout-align="center start">
            <div layout="column" flex="80">
                <h3>Lorem ipsum dolor</h3>
                <p>Lorem ipsum dolor sit amet...</p>
            </div>

        </div>
        <div layout="row" layout-align="center center">
            <div layout="column" flex="80">
                <h3>Lorem ipsum dolor</h3>
                <p>Lorem ipsum dolor sit amet...</p>
            </div>
        </div>
      </div>
    </body>
  
  </div>