img {
    width: 425px;
    height: 500px;
    background-size: cover;
    border-radius: 100px;
    -webkit-border-radius: 170px;
    float: left;

  }
  
.text {
    text-align: center;
    color: black;
    font-family: "Arial";
    font-size: large;
}

.description {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}