<body>

    <div class="text">
        <h2>Hi Friends!</h2>
        <h3>My name is Melissa Wu and I make Jewelry</h3>
    </div>
    
    <div>
        <div layout="column"  flex layout-padding layout-align="center center">
          <img src="/assets/images/portrait1.jpeg">   
        <div layout="row" layout-align="center center">
                <div layout="column" class="description">
                    <h3>
                        Growing up, I've always been a really big jewelry lover myself and was always on the hunt for some customizable and meaningful pieces to add to my collection. 
                        I came up with the idea to open up my small business when I noticed how the pandemic was deteriorating the mental health of my loved ones, and even myself.<br>
                        My journey first started off with gifting small engraved pieces to my family and friends, as a reminder that I was thinking of them through social distancing circumstances. 
                        Seeing the joy and love they experienced through my handmade jewelry gave me the idea to offer this service to others that were interested as well. 
                        To open up the opportunity to spread some more love in this pandemic, by giving yourself/others a golden reminder.<br>
                        It's truly such a blessing to be apart of such a loving process!
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div layout="column" >
            <img src="/assets/images/portrait1.jpeg">   
        </div>
        <div layout="column" class="description">
            <h3>
                Growing up, I've always been a really big jewelry lover myself and was always on the hunt for some customizable and meaningful pieces to add to my collection. 
                I came up with the idea to open up my small business when I noticed how the pandemic was deteriorating the mental health of my loved ones, and even myself.<br>
                My journey first started off with gifting small engraved pieces to my family and friends, as a reminder that I was thinking of them through social distancing circumstances. 
                Seeing the joy and love they experienced through my handmade jewelry gave me the idea to offer this service to others that were interested as well. 
                To open up the opportunity to spread some more love in this pandemic, by giving yourself/others a golden reminder.<br>
                It's truly such a blessing to be apart of such a loving process!
            </h3>
        </div>
    </div>

</body>