img {
    width: 425px;
    height: 500px;
    background-size: cover;
    border-radius: 100px;
    -webkit-border-radius: 170px;
    float: left;
    text-align: center;
    margin-left: 50px;
    justify-content: center;
  }
  
.text {
    text-align: center;
    color: black;
    font-family: "Arial";
    font-size: large;
}

.description {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-image: url("../../../assets/images/toronto_bg_cropped.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  border-radius: 170px;
}