<div class="text">
    <h2>Hi Friends!</h2>
    <h3>My name is Melissa Wu and I make Jewelry</h3>
</div>

<div ng-app="sandbox">
    <div layout="column"  flex layout-padding layout-align="center center">
      <img src="/assets/images/portrait1.jpeg">   
      <div layout="row" layout-align="center start">
                <div layout="column" flex="80">
                    <h3>Lorem ipsum dolor sit amet!</h3>
                    <p>Lorem ipsum dolor sit amet....</p>
                </div>
            </div>
            <div layout="row" layout-align="center start">
                <div layout="column" flex="80">
                    <h3>Lorem ipsum dolor</h3>
                    <p>Lorem ipsum dolor sit amet...</p>
                </div>

            </div>
            <div layout="row" layout-align="center center">
                <div layout="column" flex="80">
                    <h3>Lorem ipsum dolor</h3>
                    <p>Lorem ipsum dolor sit amet...</p>
                </div>
            </div>

        </div>
    </div>