<div style="height: 100vh;">
  <html class="bg">

    <!--
    <div class="test">
      <select>
        <option *ngFor="let it of item" [value]="it.Name">
          {{ it.Name }}
        </option>
      </select>
      <br>
      {{modifiedtext}}
      <br>

      <button routerLink="/items">submit</button>
    </div>
    -->

    <!--
    <div class="container" *ngFor="let product of products">

      FIX CSS BEFORE UNCOMMENTING 
      <button class="center" [routerLink]="['/items', product.id]">
        <img [src]="product.image">
      </button>

      <a [title]="product.name + ' details'" [routerLink]="['/items', product.id]">
        {{ product.name }}
      </a>

      <p *ngIf="product.description">
        Description: {{ product.description}}
      </p>
    </div>
    -->


    <table class="container">
      <tr class="center" *ngFor="let product of tableData">
        <td>         
          <button class="center" [routerLink]="['/items', product.column1.id]">
            <img [src]="product.column1.image">
            <div class="text">
              {{ product.column1.name }}
            </div>
          </button>
        </td>
          <!--
          <td [title]="product.name + ' details'" [routerLink]="['/items', product.column1.id]">
            {{product.column1.name}}<br>
            Description: {{ product.column1.description}}
          </td>-->
        <td>
          <button class="center" [routerLink]="['/items', product.column2.id]">
            <img [src]="product.column2.image">
            <div class="text">
              {{ product.column2.name }}
            </div>
          </button>
        </td>
          <!--
          <td [title]="product.name + ' details'" [routerLink]="['/items', product.column2.id]">
            {{product.column2.name}}<br>
            Description: {{ product.column2.description}}
          </td>-->
      </tr>
    </table>


  

    </html>
  </div>


