.button{
    position: absolute;
    right: 0%;
}

img {
    width: 400px;
    height: 500px;
    position: relative;
    margin-left: 200px;
}

body {
    background-image: url("../../assets/images/toronto_bg_cropped.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    border-radius: 170px;
  }

  .bg{
    height: 100%;
    background-image: url("../../assets/images/toronto_bg_cropped.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    border-radius: 170px;
  }
  
  .center {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 150px;
    margin: auto;
    padding-top: 30px;
  }

  .test{
    margin: auto;
    width: 50%;
    border: 3px solid green; 
    padding: 10px;
  }