<div style="height: 100vh;">
  <html class="bg">

    <div class="container">
      <button class="center" routerLink="/items">
        <img src="../../assets/images/landscape/pic8.jpeg">
      </button>
    </div>

    <div class="test">
      <select [(ngModel)]="itSelected" (ngModelChange)='onItemSelected($event)'>
        <option *ngFor="let it of item" [value]="it.Name">
          {{ it.Name }}
        </option>
      </select>
      <br>
      {{modifiedtext}}
      <br>
      <button routerLink="/items">submit</button>
    </div>

    </html>
  </div>

  <!-- ROUTING WITH INFORMATION -->