.button{
    position: absolute;
    right: 0%;
}

img {
    width: 1500px;
    height: 1000px;
    position: relative;
    margin-left: 200px;
    border-radius: 170px;
    opacity: 0.3;
}

body {
    background-image: url("../../assets/images/toronto_bg_cropped.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    border-radius: 170px;
  }

  .bg{
    height: 100%;
    background-image: url("../../assets/images/toronto_bg_cropped.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    border-radius: 170px;
  }