<div>
    <h1>Contact Us</h1>
    <h3>Hi contact us with any issues that you may have!</h3>
</div>

<div>
    <mat-form-field class="example-full-width" class="name">
      <input matInput placeholder="Name">
    </mat-form-field>
  
    <mat-form-field class="example-full-width" class="phone">
      <input matInput placeholder="Phone Number">
    </mat-form-field>
  </div>

<mat-form-field apperance="fill" class="email">
    <input matInput placeholder="Email">
</mat-form-field>
  
<mat-form-field appearance="fill" class="message">
    <mat-label>Message</mat-label>
    <textarea 
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="10"
        cdkAutosizeMaxRows="100">
    </textarea>
  </mat-form-field>

