img {
    width: 350px;
    height: 350px;
    background-size: cover;
    border-radius: 100px;
    -webkit-border-radius: 170px;
    float: left;
}

.center {
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

form {
  display: inline-block;
  text-align: center;
}

body {
    background-image: url("../../assets/images/toronto_bg_cropped.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    border-radius: 170px;
  }

  .cart-item {
    width: 100%;
    min-width: 400px;
    max-width: 450px;
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    position: relative;
    padding: 16px 32px;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: #EEEEEE;
  }

  input {
    font-size: 14px;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #BDBDBD;
  }