<div class="center" style="height: 100vh;">  

  <div class="cart-item" *ngFor="let item of items">
    <span>{{ item.name }} </span>
    <span>{{ item.price | currency }}</span>
    <span>{{ item.personalization }}</span>
    <button (click)="onRemove()">Remove</button>
  </div>

  <div>
    <div>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="name">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input matInput [(ngModel)]="phone">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput [(ngModel)]="address">
      </mat-form-field>
    </div>
    <div class="send">
      <button mat-raised-button (click)="openDialog()">Purchase</button>
    </div>
  </div>

  <!--  
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    
  </form>-->

  </div>  