
<div class="description" *ngIf="product">
    <a routerLink="/products"><span>Back</span></a>
  <h2>Product Details</h2>
  
  <img [src]="product.image">
  <h3>{{ product.name }}</h3>
  <h4>{{ product.price | currency }}</h4>
  <p>{{ product.description }}</p>

  <div *ngIf="engravings">
    <mat-checkbox [(ngModel)]="checked">Add your personalisation (optional)</mat-checkbox>
    <div *ngIf="checked">
      <mat-form-field>
        <mat-label>Personalization</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>

  <button mat-flat-button (click)="addToCart(product)">Add to Cart</button>
</div>
