
<div class="description" *ngIf="product">
    <li type="checkbox">Back</li>
  <h2>Product Details</h2>
  
  <img [src]="product.image">
  <h3>{{ product.name }}</h3>
  <h4>{{ product.price | currency }}</h4>
  <p>{{ product.description }}</p>

  <button mat-flat-button (click)="addToCart(product)">Buy</button>
</div>

<!--
<div class="description" *ngIf="earring">
  <li type="checkbox">Back</li>
  <h2>Product Details</h2>

  <img [src]="earring.image">
  <h3>{{ earring.name }}</h3>
  <h4>{{ earring.price | currency }}</h4>
  <p>{{ earring.description }}</p>

  <button mat-flat-button (click)="addToCart(product)">Buy</button>
</div>
-->