img {
    width: 425px;
    height: 500px;
    background-size: cover;
    border-radius: 100px;
    -webkit-border-radius: 170px;
    float: center;
    position: relative;
    justify-content: center;
  }

.description {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    display: block;
}