<div style="height: 100vh;">  
    <body>

      <div class="landscape1">
        <a routerLink="/products" class="btn effect01" target="_blank"><span>Shop Now</span></a>
      </div>

      <div class="bg">
        <!-- Slider: https://stackblitz.com/edit/ng-image-slider-demo-->
      <div class="slideShow">
        <ng-image-slider #nav
          [images]="imageObject"
          [infinite]="true"
          [autoSlide]="1"
          [imageSize]="{width: '25%', height: 300}"
          slideImage="1">
        </ng-image-slider>
      </div>

      <div>
        <h1>⋆ Custom Handmade Jewelry by @_melz.w</h1>
        <h1>⋆ $3 shipping fee for Canadian orders</h1>
        <h1>Golden stories stamped for a golden you ✨</h1>
        <h1>Currently: Open!</h1>
      </div>
      
      <div>
          <img src="assets/images/pic1.jpeg" width="350px" height="350px">
      </div>
      <div>
        <h2>Hi I'm Melissa Wu And I make Jewelry</h2>
        <p>Follow me on Instagram!</p>
      </div>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <a href="https://www.instagram.com/goldenreminders.co/" class="fa fa-instagram"></a>
      </div>
    </body>
  
  </div>