<div style="height: 100vh;">  
    <body>

      <div class="landscape1">
        <a routerLink="/products" class="btn effect01"><span>Shop Now</span></a>
      </div>

      <div>
        <!-- Slider: https://stackblitz.com/edit/ng-image-slider-demo
        <div class="slideShow">
          <ng-image-slider #nav
            [images]="imageObject"
            [infinite]="true"
            [autoSlide]="1"
            [imageSize]="{width: '25%', height: 300}"
            slideImage="1">
          </ng-image-slider>
        </div>-->

        <div>
          <h2>
            <br>Welcome to Golden Reminders Co!<br><br>
          </h2>
          <h3>
            This small business was created with the mission of producing sentimental & customizable pieces to remind people that their stories matter. In fact, it's something worth celebrating! Each piece is handmade in Toronto Ontario. 
            <br>
            Spread some love this pandemic and gift the perfect piece for yourself and your loved ones! Thank you for your support and please message me if you have any questions.
            <br>
            Follow our social media pages for the latest news:<br>
            IG: @goldenreminders.co 
          </h3>
        </div>

      </div>
    </body>
  
  </div>